*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #091921;
}
body::before{
    content:'';
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    background: linear-gradient(#e91e63,#ffc107);
    clip-path: circle(22% at 30% 20%);
}
body::after{
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#fff,#da00ff);
    clip-path: circle(22% at 70% 90%);
}
.kalkulator{
    position: relative;
    background: rgba(255, 255, 255, .05);
    border-radius: 6px;
    overflow: hidden;
    z-index: 10;
    backdrop-filter: blur(10px);
    border-top: 1px solid rgba(255, 255, 255, .2);
    border-left: 1px solid rgba(255, 255, 255, .2);
    box-shadow: 5px 5px 30px rgba(0, 0, 0, .2);
}
.kalkulator .kal{
    position: relative;
}
.kalkulator .kal .value{
    width: 100%;
    height: 140px;
    text-align: right;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 30px;
    background: transparent;
    color:#fff;
    border-bottom: 1px solid rgba(255, 255, 255, .05);
    border-right: 1px solid rgba(255, 255, 255, .05);
}
.kalkulator input{
    border: none;
    outline: none;
    padding:10px;
    font-size: 20px;
    background: rgba(255, 255, 255, .05);
    color:white;
    margin: 10px 0;
}
.kalkulator input::placeholder{
    color:white;
}
.kal .tombol{
    display: flex;
    justify-content: space-around;
}
.kalkulator .kal span,
.kalkulator button{
    width: 75px;
    color:#fff;
    font-weight: 400;
    cursor: pointer;
    font-size: 25px;
    user-select: none;
    border-bottom: 1px solid rgba(255, 255, 255, .05);
    border-right: 1px solid rgba(255, 255, 255, .05);
    transition: .05s;
    text-align: center;
    padding: 20px;
}
 
.kalkulator .kal span:hover{
    transition: 0s;
    background: rgba(255, 255, 255, .05);
}
.kalkulator .kal span:active{
    background-color: #14ff47;
    color:#192f00;
    font-size: 24px;
    font-weight: 500;
}
.kalkulator .kal .clear{
    width: 150px;
    background:rgba(255, 255, 255, .05);
}
.kalkulator .kal button{
    font-size: 18px;
    outline: none;
    border: none;
    padding: 10px;
    display: block;
    margin: 10px auto;
    background: rgba(255, 255, 255, .05);
}
.kal button:hover{
    opacity: .8;
    cursor: pointer;
}