*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    padding-top: 30px;
    background: linear-gradient(45deg,#3498db,#1abc9c);
    height: 100vh;
    overflow: hidden;
}
.button{
    display: flex;
    justify-content:space-around;
}
.button button{
    font-weight: bold;
    font-size: 20px;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px;
    margin-bottom: 30px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, .3);
}
button:focus{
    box-shadow:inset 3px 3px 5px rgba(0, 0, 0, .3);
}
button:active{
    background: #3498db;
}
.content{
    width: 80%;
    margin: auto;
    background: rgba(255, 255, 255, .3);
    padding: 20px 40px;
    display: none;
    animation: kuciyose 1s;
}
@keyframes kuciyose {
    0%{
        transform: translateY(-100px);
        opacity: .4;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}
.content h1{
    text-align: center;
    padding-bottom:20px;
    color:rgba(0, 0, 0, .7);
}
.content.click{
    display: block;
}
.content p{
    line-height: 24px;
    text-align: justify;
}